
<section class="content infomation">
  <h1>{{infomationService.htmlText.registration.title}}</h1>
  <div class="card-outer">
    <form (ngSubmit)="signupEvent()">
      <div class="form-group">
        <label for="companyname">{{infomationService.htmlText.signup.form.companyname.labelName}}</label>
        <div class="text">{{infomationService.signup_form.companyname}}</div>
      </div>
      <div class="form-group">
        <label for="address">{{infomationService.htmlText.signup.form.address.labelName}}</label>
        <div class="text">{{infomationService.signup_form.address}}</div>
      </div>
      <div class="form-group">
        <label for="firstname">{{infomationService.htmlText.signup.form.firstname.labelName}}</label>
        <div class="text">{{infomationService.signup_form.firstname}}</div>
      </div>
      <div class="form-group">
        <label for="lastname">{{infomationService.htmlText.signup.form.lastname.labelName}}</label>
        <div class="text">{{infomationService.signup_form.lastname}}</div>
      </div>
      <div class="form-group">
        <label for="email">{{infomationService.htmlText.signup.form.email.labelName}}</label>
        <div class="text">{{infomationService.signup_form.email}}</div>
      </div>
      <div class="form-group">
        <label for="phone">{{infomationService.htmlText.signup.form.phone.labelName}}</label>
        <div class="text">{{infomationService.signup_form.phone}}</div>
      </div>
      <div class="form-group">
        <label for="">{{infomationService.htmlText.signup.form.count.labelName}}</label>
        <div class="text">{{infomationService.signup_form.count}}</div>
      </div>
      <div class="form-group">
        <label for="liscencecount">{{infomationService.htmlText.signup.form.total.labelName}}</label>
        <div class="totalprice">
          <div class="total">
            <i class="price">{{(infomationService.signup_form.total/100).toFixed(2)}}</i> <i>{{infomationService.currency}}</i>
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
          <label for="liscencecount">{{infomationService.htmlText.signup.form.single.labelName}}</label>
          <div class="totalprice">
            <div class="total">
              <i class="price">{{((infomationService.signup_form.total/100/infomationService.signup_form.count)||0).toFixed(2)}}</i> <i>CAD</i>
            </div>
          </div>
        </div> -->
      <div class="button-container">
        <button class="btn btn-default review-btn" href="#" role="button" (click)="Review($event)">{{infomationService.htmlText.registration.reviewBtn}}</button>
        <button type="submit" class="btn btn-default submit-btn">{{infomationService.htmlText.registration.signupBtn}}</button>
      </div>
      <div class="clear"></div>
    </form>
  </div>
</section>

