.content.infomation{
  max-width: calc(1060px - 200px);
  margin: 0 auto;
  font-family: NeueHaasGroteskDisp Pro XLt,Verdana,Helvetica,Arial,sans-serif;
  input{
    border: 1px solid #A6A9AB;
    box-sizing: border-box;
    box-shadow:none;
    border-radius: 4px;
    text-indent: 10px;
  }
  .form-group{
    label{
      font-size: 1.8rem;
      color: #222;
    }
    .text{
      font-size: 1.6rem;
      color:#7C7C7C;
    }
    &.validFailed{
      input{
        border-color: #DC4E41;
      }
      
    }
  }
  .totalprice{
    .count{
      display: inline-block;
      vertical-align: top;
      display: inline-block;
      height: 37px;
      line-height: 37px;
    }
    .total{
      vertical-align: top;
      display:inline-block;
      height: 37px;
      line-height: 37px;
      margin-left: 12px;
      .price{
        font-size: 2.4rem;
        color: #006FBA;
        margin-right: 5px;
      }
    }
    .request-price-btn{
      display:inline-block;
      background-color: #006FBA;
      color: #fff;
      outline: 0;
      border: 0;
      border-radius: 4px;
      height: 37px;
      margin-left: 12px;
      padding:0 20px;
      vertical-align: top;
      &.disabled{
        background-color: #aaa;
      }
    }
  }
  .button-container{
    width: 100%;
    text-align: center;
    button,.review-btn,.submit-btn{
      font-family: NeueHaasGroteskDisp Pro XLt,Verdana,Helvetica,Arial,sans-serif;
      background:#9fa1a0;// #006FBA;
      width: 180px;
      height: 44px;
      text-align: center;
      color: #fff;
      border-radius: 0;
      // float: right;
      &.disabled{
        background-color: #aaa;
      }
    }
    .review-btn{
      position: relative;
      transition: all 0.3s;
      &:hover{
        background: #006fba;
      }
      &:after{
        transition: all .3s;
        content:"";
        position:absolute;
        left: 20px;
        opacity: 0;
        background-image:url('../../../assets/images/left-arrow.png');
        width:16px;
        height:12px;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:50%;
        top:37%;
      }
      &:hover:after{
        left: 10px;
        content:"";
        position:absolute;
        // margin-right:10px;
        background-image:url('../../../assets/images/left-arrow.png');
        width:16px;
        height:12px;
        opacity: 1;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:50%;
        top:37%;
      }
    }
    .submit-btn{
      position: relative;
      transition: all 0.3s;
      &:hover{
        background: #006fba;
      }
      &:after{
        transition: all .3s;
        content:"";
        position:absolute;
        right: 20px;
        // margin-left:-10px;
        opacity: 0;
        background-image:url('../../../assets/images/right-arrow.png');
        width:16px;
        height:12px;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:50%;
        top:37%;
      }
      &:hover:after{
        content:"";
        position:absolute;
        right: 10px;
        // margin-left:10px;
        background-image:url('../../../assets/images/right-arrow.png');
        width:16px;
        height:12px;
        opacity: 1;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:50%;
        top:37%;
      }
    }
  }
  @media screen and (max-width: 414px) {
    
      .card-outer{
        .button-container{
          button,.review-btn,.submit-btn{
            width:auto;
            padding-left: 4rem;
            padding-right: 4rem;
          }
        }
      }
    
  }
}
