
<section class="content signup">
  <h1>{{infomationService.htmlText.signup.title}}</h1>
  <div class="card-outer">
    <!-- <div class="alert alert-danger" role="alert" *ngIf="!infomationService.infomation_correct">
        {{infomationService.htmlText.signup.signupInfomationError}}
    </div> -->
    <section>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.companyname.valid}">
        <label for="companyname">{{infomationService.htmlText.signup.form.companyname.labelName}}</label>
        <input type="text" [(ngModel)]="infomationService.signup_form.companyname" class="form-control" placeholder="{{infomationService.formValid.companyname.placeholder}}" (ngModelChange)="checkValue('companyname')" (focusout)="checkValue('companyname')">
        <div class="error-container" *ngIf="!infomationService.formValid.companyname.valid">
          {{infomationService.formValid.companyname.error}}
        </div>
      </div>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.address.valid}">
        <label for="address">{{infomationService.htmlText.signup.form.address.labelName}}</label>
        <input type="text" [(ngModel)]="infomationService.signup_form.address" class="form-control" placeholder="{{infomationService.formValid.address.placeholder}}" (ngModelChange)="checkValue('address')" (focusout)="checkValue('address')">
        <div class="error-container" *ngIf="!infomationService.formValid.address.valid">
          {{infomationService.formValid.address.error}}
        </div>
      </div>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.firstname.valid}">
        <label for="firstname">{{infomationService.htmlText.signup.form.firstname.labelName}}</label>
        <input type="text" [(ngModel)]="infomationService.signup_form.firstname" class="form-control" placeholder="{{infomationService.formValid.firstname.placeholder}}" (ngModelChange)="checkValue('firstname')" (focusout)="checkValue('firstname')">
        <div class="error-container" *ngIf="!infomationService.formValid.firstname.valid">
          {{infomationService.formValid.firstname.error}}
        </div>
      </div>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.lastname.valid}">
        <label for="lastname">{{infomationService.htmlText.signup.form.lastname.labelName}}</label>
        <input type="text" [(ngModel)]="infomationService.signup_form.lastname" class="form-control" placeholder="{{infomationService.formValid.lastname.placeholder}}"  (ngModelChange)="checkValue('lastname')"  (focusout)="checkValue('lastname')">
        <div class="error-container" *ngIf="!infomationService.formValid.lastname.valid">
          {{infomationService.formValid.lastname.error}}
        </div>
      </div>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.email.valid}">
        <label for="email">{{infomationService.htmlText.signup.form.email.labelName}}</label>
        <div class="form-item">
            <input type="email" [(ngModel)]="infomationService.signup_form.email" class="form-control" placeholder="{{infomationService.formValid.email.placeholder}}" (ngModelChange)="checkValue('email')" (focusout)="checkValue('email')">
        </div>
        <div class="error-container" *ngIf="!infomationService.formValid.email.valid">
          {{infomationService.formValid.email.error}}
        </div>
        <div class="form-item" style="margin-top: 10px;" [ngClass]="{'validFailed':!infomationService.formValid.code.valid}">
          <input type="number" class="verify-email-code form-control" [(ngModel)]="infomationService.signup_form.code" placeholder="{{infomationService.formValid.code.placeholder}}" (ngModelChange)="checkValue('code','modelChange')" (focusout)="checkValue('code','focusout')"><!---->
          <input type="text" class="verify-email-key form-control hide" [(ngModel)]="infomationService.signup_form.key" id="key" name="key">
          <div class="get-code-btn" [ngClass]="{'disabled':!infomationService.formValid.email.valid||verifyEmailBtnDisable,'loading':emailCodeRequesting}" (click)="checkValue('email');getEmailVerifyCode(!infomationService.formValid.email.valid||verifyEmailBtnDisable)">
                <div class="loader-container" *ngIf="emailCodeRequesting">
                  <div class="loader"></div>
                </div>
                <div class="text">{{infomationService.htmlText.signup.form.verificationBtn.text}}</div>
            <ng-container *ngIf="verifyEmailBtnDisable">
                ({{verifyEmailBtnSeconds}})
            </ng-container>
          </div>
        </div>
        <div class="error-container" *ngIf="!infomationService.formValid.code.valid">
          {{infomationService.formValid.code.error}}
        </div>
        <div class="error-container" *ngIf="!infomationService.formValid.key.valid">
          {{infomationService.formValid.key.error}}
        </div>
      </div>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.phone.valid}">
        <label for="phone">{{infomationService.htmlText.signup.form.phone.labelName}}</label>
        <input type="tel" [(ngModel)]="infomationService.signup_form.phone" class="form-control" placeholder="{{infomationService.formValid.phone.placeholder}}" (ngModelChange)="checkValue('phone')" (focusout)="checkValue('phone')">
        <div class="error-container" *ngIf="!infomationService.formValid.phone.valid">
          {{infomationService.formValid.phone.error}}
        </div>
      </div>
      <div class="form-group">
          <div id="recaptchaContainer" class="g-recaptcha"></div>
          <div class="error-container" *ngIf="!infomationService.formValid.isNotRobot.valid">
            {{infomationService.formValid.isNotRobot.error}}
          </div>
      </div>
      <div class="form-group" [ngClass]="{'validFailed':!infomationService.formValid.count.valid||!infomationService.formValid.total.valid}">
        <label for="liscencecount">{{infomationService.htmlText.signup.form.licenses.labelName}}</label>
        <div class="totalprice">
          <div class="count">
            <input type="number" [(ngModel)]="infomationService.signup_form.count" placeholder="{{infomationService.formValid.count.placeholder}}" (ngModelChange)="checkValue('count')" (focusout)="checkValue('count')">
            <input class="hide" type="number" [(ngModel)]="infomationService.signup_form.total" name="total">
            <div class="error-container" *ngIf="!infomationService.formValid.count.valid">
              {{infomationService.formValid.count.error}}
            </div>
          </div>
          <button class="request-price-btn" type="button" [ngClass]="{'disabled':infomationService.signup_form.count<=0}" (click)="getTotalProce()">{{infomationService.htmlText.signup.form.total.buttonText}}</button>
          <div class="total">
            <!-- <span>$ /month,$/endpoint/month</span> -->
            <i class="price">{{(infomationService.signup_form.total/100).toFixed(2)}}</i><i class="time_units">/month</i> <i class="money_units">({{infomationService.currency}})</i>
          </div>
          <div class="monovalent">
              <!-- <span>$ /month,$/endpoint/month</span> -->
              <i class="price">{{((infomationService.signup_form.total/100/infomationService.signup_form.count)||0).toFixed(2)}}</i><i class="time_units">/month/endpoint</i> <i class="money_units">({{infomationService.currency}})</i>
            </div>
          <div class="error-container" *ngIf="!infomationService.formValid.total.valid">
            {{infomationService.formValid.total.error}}
          </div>
        </div>
      </div>
      <button type="button" *ngIf="infomationService.signup_submiteBtn_disabled" class="btn btn-default submit-btn" [ngClass]="{'disabled':infomationService.signup_submiteBtn_disabled}">{{infomationService.htmlText.signup.form.nextBtn.text}}</button>
      <button type="submit" *ngIf="!infomationService.signup_submiteBtn_disabled" class="btn btn-default submit-btn" (click)="nextPage()">{{infomationService.htmlText.signup.form.nextBtn.text}}</button>
      <div class="clear"></div>
    </section>
  </div>
</section>

