html{
  font-size: 10px;
  padding: 0;
  margin: 0;
  body{
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
  }
  .clear{
    clear:both;
  }
}
header{
  position: relative;
  height: 69px;
  .logo{
    float: left;
    width: 103.52px;
    height: 30px;
    margin-left: 150px;
    margin-top: 18px;
  }
  border-bottom: 4px solid #2C6EA5;
}
.card-outer{
  max-width: calc(1060px - 200px);
  margin: 0 auto;
  padding: 80px 100px 80px 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 0;
  font-size: 1.6rem;
}
section>h1{
  font-family: NeueHaasGroteskDisp Pro XLt,Verdana,Helvetica,Arial,sans-serif;//inherit
  font-size: 3.6rem;
  line-height: 3.6rem;
  /* identical to box height */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  width: 100%;
  color: #7C7C7C;
  margin-top: 20px;
  margin-bottom: 50px;
}
@font-face {
  font-family: 'NeueHaasGroteskText Pro';
  src: url(/assets/fonts/hinted-NHaasGroteskTXPro-55Rg.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro XLt';
  src: url(/assets/fonts/hinted-NHaasGroteskDSPro-35XLt.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@media screen and (max-width: 768px) {
  .card-outer{
    max-width: calc(1060px - 400px);
  }
  header{
    display:flex;
    justify-content: center;
    align-items: center;
    .logo{
      margin:0 auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .card-outer{
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }
  section>h1{
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  html body{
    padding-bottom: 0;
  }
  header{
    display:flex;
    justify-content: center;
    align-items: center;
    .logo{
      margin:0 auto;
    }
  }
}
.messageContainer{
  position: fixed;
  // top: -30px;
  width: 100%;
  max-width: calc(1060px - 200px);
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
  text-align: center;
  .alert.alert-warning{
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 15px;
    padding-right: 26px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-100%);
    width: calc(1060px - 300px);;
    button{
      position: absolute;
      top: 15px;
      right: 15px;
      color: inherit;
      font-size: 21px;
    }
    transition: transform 1s;
  }
  &.show{
    top: 0;
  }
}